## **Data Types and Structures Questions**

1. What are data structures, and why are they important?

- Data structures are ways of organizing and storing data to enable efficient access and modification.
- They are important because they optimize performance in algorithms, making data retrieval and manipulation more efficient.

2. Explain the difference between mutable and immutable data types with examples.

- Mutable types can be changed after creation (e.g., lists, dictionaries).
- Immutable types cannot be modified after creation (e.g., strings, tuples).

3. What are the main differences between lists and tuples in Python?

- Lists are mutable, while tuples are immutable.
- Lists are slower than tuples due to their dynamic nature.
- Tuples use less memory and are used for fixed collections of items.

4. Describe how dictionaries store data.

- Dictionaries store data as key-value pairs using a hash table, allowing fast lookups.

5. Why might you use a set instead of a list in Python?

- Sets are unordered and do not allow duplicate values, making them useful for membership testing and removing duplicates efficiently.

6. What is a string in Python, and how is it different from a list?

- A string is an immutable sequence of characters, while a list is mutable and can store various data types.

7. How do tuples ensure data integrity in Python?

- Since tuples are immutable, they prevent accidental modifications, making them ideal for storing fixed data.

8. What is a hash table, and how does it relate to dictionaries in Python?

- A hash table is a data structure that maps keys to values using a hashing function. Python dictionaries use hash tables to achieve fast lookups.

9. Can lists contain different data types in Python?

- Yes, lists can hold mixed data types.

10.  Explain why strings are immutable in Python.

- Strings are immutable to enhance performance and security, preventing unintended modifications.

11. What advantages do dictionaries offer over lists for certain tasks?

- Dictionaries allow fast lookups using keys, whereas lists require linear searches.

12. Describe a scenario where using a tuple would be preferable over a list.

- When storing coordinate pairs (x, y) or database records that shouldn't change.


13. How do sets handle duplicate values in Python?

- Sets automatically remove duplicates.

14.  How does the “in” keyword work differently for lists and dictionaries?

- For lists, in checks if a value exists in the list.
- For dictionaries, in checks if a key exists.

15. Can you modify the elements of a tuple? Explain why or why not.

- No, tuples are immutable, meaning elements cannot be changed after creation.

16. What is a nested dictionary, and give an example of its use case?

- A dictionary inside another dictionary. Useful for representing hierarchical data.

17. Describe the time complexity of accessing elements in a dictionaryP

- Accessing elements in a dictionary has an average time complexity of O(1) due to hashing.

18. In what situations are lists preferred over dictionaries?

- When maintaining order is important or when sequential iteration is needed.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

- Before Python 3.7, dictionaries did not maintain insertion order. However, from Python 3.7 onward, they do. Still, retrieval is based on keys, not positions.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

- Lists use index-based retrieval (O(1)).
- Dictionaries use key-based retrieval (O(1)) but require a valid key.

## **Practical Questions**

1. Write a code to create a string with your name and print it.

In [1]:
name = "John Doe"
print(name)

John Doe

2. Write a code to find the length of the string "Hello World".

In [2]:
string = "Hello World"
print(len(string))

11

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [3]:
text = "Python Programming"
print(text[:3])  # Output: "Pyt"

Pyt

4. Write a code to convert the string "hello" to uppercase.

In [4]:
word = "hello"
print(word.upper())  # Output: "HELLO"

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [5]:
sentence = "I like apple"
print(sentence.replace("apple", "orange"))  # Output: "I like orange"

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it.

In [6]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [7]:
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)  # Output: [1, 2, 3, 4, 10]

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [8]:
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)  # Output: [1, 2, 4, 5]

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [9]:
letters = ['a', 'b', 'c', 'd']
print(letters[1])  # Output: "b"

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [10]:
lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)  # Output: [50, 40, 30, 20, 10]

[50, 40, 30, 20, 10]

11.  Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [11]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [12]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])  # Output: "blue"

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [13]:
numbers = (10, 20, 5, 15)
print(min(numbers))  # Output: 5

5

14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [14]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))  # Output: 1

1

15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [15]:
fruits = ('apple', 'banana', 'mango')
print("kiwi" in fruits)  # Output: False

False

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [16]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'b', 'c'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [17]:
numbers = {1, 2, 3, 4, 5}
numbers.clear()
print(numbers)  # Output: set()

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [18]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)  # Output: {1, 2, 3}

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [19]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [20]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))  # Output: {2, 3}

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [21]:
person = {"name": "John", "age": 30, "city": "New York"}
print(person)

{'name': 'John', 'age': 30, 'city': 'New York'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [22]:
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)  # Output: {'name': 'John', 'age': 25, 'country': 'USA'}

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [23]:
person = {'name': 'Alice', 'age': 30}
print(person['name'])  # Output: "Alice"

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [24]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print(person)  # Output: {'name': 'Bob', 'city': 'New York'}

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [25]:
person = {'name': 'Alice', 'city': 'Paris'}
print("city" in person)  # Output: True

True

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [26]:
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 7, "b": 8}

print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(4, 5, 6)
{'a': 7, 'b': 8}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [27]:
import random

numbers = [random.randint(1, 100) for _ in range(5)]
numbers.sort()
print(numbers)

[2, 10, 71, 82, 93]

28. Write a code to create a list with strings and print the element at the third index.

In [28]:
words = ["apple", "banana", "cherry", "date", "elderberry"]
print(words[3])  # Output: "date"

date

29. Write a code to combine two dictionaries into one and print the result.

In [31]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

combined_dict = {**dict1, **dict2}  # Merging using dictionary unpacking
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Write a code to convert a list of strings into a set.

In [32]:
string_list = ["apple", "banana", "cherry", "apple", "banana"]
string_set = set(string_list)
print(string_set)

{'cherry', 'apple', 'banana'}